.container{
    max-width: 600px !important;
}
.form-group{
    padding: 5px;
}

label{
    font-weight: bold;
}

/* input, textarea, select{
    border: 1px solid #ddd !important;
} */

.edt_prof{
    margin-left: auto;
}