*{
	background-color: white;
	font-family: sans-serif !important;
}

.main{
	/* max-width: 700px;  */
	text-align: center; 
	margin: auto;
}

.box{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* max-width: 700px; */
}
.inpt{
	border: none;
	outline: none;
	border-bottom: 1px solid; 
}

/* .button{
	text-align: left;
} */