*{
	font-family: sans-serif;
}

.banner{
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/banner.jpg");
   height: 250px;
   width: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
}

.title{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: 'Lobster', cursive;
  font-size: 50px;
  transform: translate(-50%, -50%);
  color: white;
}

.package-heading{
	text-align: center;
	padding: 25px 0;
	/*padding-bottom: 30px;*/
}

.package-img img{
	width: 95%;
	height: 50%;
	border-radius: 5%;
}

.place{
	color: black;
	margin-top: -150px;
	font-size: 45px;
	font-family: 'Lobster', cursive;
	text-align: center;
	font-weight: bold;
}

.button{
	padding: 5px 5px 5px 5px;
}

.view-pack-btn{
	background-color: #784fb4 !important;
	width: 95%;
	color: white !important;
}

.footer{
	bottom: 0;
	height: 60px;
	width: 100%;
	background-color: #493650;
	text-align: center;
	color: white;
}